// background
$background-color: hsl(240, 10%, 13%);

// cards
$card-color          : hsl(240, 10%, 20.5%);
$card-color-secondary: hsl(240, 10%, 41%);

// header
$label-color : hsl(240, 0%, 33%);

// buttons
$button-color: rgb(36, 0, 140);

// font color
$font-color: white;