@use "@/assets/scss/_colors.scss"as *;
@use "@/assets/scss/_variables.scss"as *;

@mixin cardStyle() {
  border-radius: $round-corner;
  padding      : 3rem;

  display        : flex;
  align-items    : center;
  justify-content: space-between;
  flex-flow      : column;
  gap            : 2rem;

  background-color: $card-color;
  box-shadow      :
    10px 10px 10px -5px #111,
    -5px -5px 7px -3px #444;
}

@mixin body() {
  body {
    background-color  : $background-color;
    color             : $font-color;
    @import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
    font-family       : 'Cabin', sans-serif;

    display        : flex;
    align-items    : center;
    justify-content: center;

    height: 100vh;

  }
}