@use "@/assets/scss/_colors.scss"as *;
@use "@/assets/scss/_variables.scss"as *;

@mixin appWidth() {
  width    : 95vw;
  max-width: 600px;
}

@mixin cardStyle() {
  border-radius: $round-corner;
  padding      : 3rem;

  display        : flex;
  align-items    : center;
  justify-content: space-between;
  flex-flow      : column;
  gap            : 2rem;

  background-color: var(--card-color-primary);
  box-shadow      :
    10px 10px 10px -5px #111,
    -2px -2px 7px -3px #777;
}

@mixin styleBody($theme-name) {

  body.theme-#{$theme-name} {
    @content;
  }

}

// FIXME apply stable and changeable dark mode
// https://stackoverflow.com/questions/56300132/how-to-override-css-prefers-color-scheme-setting
@mixin body() {
  body {
    @import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
    font-family       : 'Cabin',
      sans-serif;

    display        : flex;
    align-items    : center;
    justify-content: center;
  }
}

// header Day and Slot component
@mixin headerStyle() {
  border-radius: $round-corner-small;
  box-sizing   : border-box;

  padding   : 1rem;
  margin-top: 1rem;
  @include appWidth();

  display              : grid;
  grid-template-columns: 1fr 2fr 7fr 3fr;

  background-color: $card-color-primary-light;
  background-color: var(--card-color-primary);
  box-shadow      :
    3px 3px 10px 2px #111,
    -1px -1px 6px -1px #999;
}