@use "@/assets/scss/_colors.scss"as *;
@use "@/assets/scss/_variables.scss"as *;

@mixin appWidth() {
  width    : 95vw;
  max-width: 600px;
}

@mixin cardStyle() {
  border-radius: $round-corner;
  padding      : 3rem;

  display        : flex;
  align-items    : center;
  justify-content: space-between;
  flex-flow      : column;
  gap            : 2rem;

  background-color: var(--card-color-primary);
  box-shadow      :
    10px 10px 8px -7px var(--card-shadow-dark),
    -2px -2px 7px -3px var(--card-shadow-light);
}

@mixin inputShadow() {
  box-shadow:
    inset 2px 2px 5px 1px var(--ui-shadow-dark),
    inset -2px -2px var(--ui-shadow-blur) -2px var(--ui-shadow-light);
}

@mixin buttonShadow() {
  box-shadow:
    2px 2px 5px 1px var(--ui-shadow-dark),
    -2px -2px var(--ui-shadow-blur) -2px var(--ui-shadow-light);
}

@mixin weekdayShadow() {
  box-shadow:
    2px 2px 4px 0px var(--weather-shadow-dark),
    -1px -1px var(--weather-shadow-blur) -0yarpx var(--weather-shadow-light);
}

// header Day and Slot component
@mixin headerStyle() {
  border-radius: $round-corner-small;
  box-sizing   : border-box;

  padding   : 1rem;
  margin-top: 1rem;
  @include appWidth();

  display              : grid;
  grid-template-columns: 1fr 2fr 7fr 3fr;

  background-color: var(--card-color-primary);
  box-shadow      :
    4px 4px 10px -3px var(--ui-shadow-dark),
    -2px -2px var(--ui-shadow-blur) -2px var(--ui-shadow-light);
}