/* https://stackoverflow.com/questions/56300132/how-to-override-css-prefers-color-scheme-setting */
/* automatic/manual light mode */
:root,
:root.light {
  --background-color: hsl(240, 10%, 92%);
  --font-color      : black;
  --highlight-color : #732937;

  --card-color-primary  : hsl(240, 10%, 86%);
  --card-color-secondary: hsl(240, 10%, 80%);
  --card-shadow-dark    : #777;
  --card-shadow-light   : #fff;

  --ui-shadow-dark : #999;
  --ui-shadow-light: #fff;
  --ui-shadow-blur : 10px;

  --weather-shadow-dark : #888;
  --weather-shadow-light: #fff;
  --weather-shadow-blur : 5px;

  --datepicker-disabled-color: hsl(240, 10%, 65%);

  --label-color      : hsl(240, 0%, 66%);
  --button-color     : rgb(36, 0, 140);
  --button-font-hover: white;
}

/* dark mode */
:root.dark {
  --background-color: hsl(240, 10%, 13%);
  --font-color      : white;
  --highlight-color : #732937;

  --card-color-primary  : hsl(240, 10%, 20%);
  --card-color-secondary: hsl(240, 10%, 26%);
  --card-shadow-dark    : #111;
  --card-shadow-light   : #777;

  --ui-shadow-dark : #222;
  --ui-shadow-light: #777;
  --ui-shadow-blur : 5px;

  --weather-shadow-dark : #222;
  --weather-shadow-light: #777;
  --weather-shadow-blur : 2px;

  --datepicker-disabled-color: hsl(240, 10%, 45%);

  --label-color      : hsl(240, 0%, 33%);
  --button-color     : rgb(36, 0, 140);
  --button-font-hover: white;
}